global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'chest-xray-monitoring'
    static_configs:
      - targets: ['monitoring-service:8080']
    scrape_interval: 30s
    metrics_path: '/metrics'
    
  - job_name: 'chest-xray-api'
    static_configs:
      - targets: ['chest-xray-api:8000']  # Adjust if API runs on different host/port
    scrape_interval: 30s
    metrics_path: '/metrics'